<div id="${action}">
  {if action == "sidepanel-add"}
    <i class="icon-plus"></i><span>创建清单</span>
  {else}
    <div><i class="icon-plus"></i><input id="main-panel__add-todo" type="text" placeholder="添加任务"></div>
  {/if}
</div> 