<div id="todos-lists">
  {if !none}
    <ul id="todos-lists__${uid}">
      {for list in lists}
      <li id="todo-lists__${list._id}">
        <span>${list.name}</span>
        <div>
          <span class="active">${list.active}</span>/${list.total}
          <!--编辑清单图标按钮占位-->
          <i id="todo-lists__edit">编辑</i>
        </div>
      </li>
      {/for}
    </ul>
  {/if}
</div>