<div id="user-bar">
  <span id="user-bar__${uid}">${userName}</span>
  {if statu == 1}
    <span id="user-bar__sign">退出</span>
  {else}
    <input id="user-bar__sign" type="button" title="登录"/>
  {/if}
</div>
    