<div id="user-bar">
  <span id="user-bar__${uid}">${userName}</span>
  {if status == 1}
    <span id="user-bar__sign-out">退出</span>
  {else}
    <input id="user-bar__sign" type="button" value="登录">
  {/if}
</div>
    